:root {
    --cor-principal: rgb(61, 111, 185);
    --cor-secundaria: rgb(16, 54, 112);
    --cor-fonte:rgb(255, 255, 255); 
}

nav{
    max-width: 300px;
    width: 100%;
    
}
nav ul li{
    border: 1px solid var(--cor-secundaria); 
    border-radius: 8px;
    background-color: var(--cor-principal) ;
    transition: background .9s;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li:hover{

    /*background-image: url(https://static.tudointeressante.com.br/uploads/2014/09/imagens-quebrar-leis.jpg);*/
    background-image: url("./img/BD.jpeg");
    background-position: center;
}

nav ul li a{
    color: var(--cor-fonte);
    padding: 10px;
    display: block;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
  

}