:root {
    --cor-principal: rgb(12, 31, 141);
    --cor-secundaria: rgb(66, 107, 168);
    --cor-fonte:white; 
}

nav{
    max-width: 350px;
    width: 100%;
    
   
    
}
nav ul li{
    border: 2px solid var(--cor-secundaria); 
    border-radius: 8px;
    background-color: var(--cor-principal) ;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li:hover{

    background-image: url(https://static.tudointeressante.com.br/uploads/2014/09/imagens-quebrar-leis.jpg);
    
}

nav ul li a{
    color: var(--cor-fonte);
    padding: 10px;
    display: block;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    transition: background .9s;

}